.body {
    font-family: "Open Sans", "Open Sans Condensed", "Source Sans Pro";
    }


.title {
    color: white;
}
/*----navbar end-------*/
.navbar-brand {
    color: #FFBD33;
}

.navbar {
    background: #FFBD33 ; 
    border-color: white; 
    letter-spacing: 7px;
    text-transform: uppercase;
}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 1px solid transparent;
    overflow-x: hidden;
}

.navbar-nav li a {
    padding: 20px 25px 15px 25px;
    color: white;
}

.navbar-fixed-top .container {
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
}


.navbar-brand {
    float: left;
    text-transform: uppercase;
}
/*navbar end*/

body, html {
  height: 100%;
}

/* Background image - opening */
.backgroundfirst {
  
	overflow-x: hidden;
	overflow-y: auto;
	font-family: 'Manjari', sans-serif;
	margin: 0;
	height: 100%;
	background-image:url("../images/landing_background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#E7D7CD;
}
img {
	max-width: 100%;
	height: auto;
}

/* bigger h and t logo */

.handtbig {
    height: 100%;
    width: 100%;
    background-position: center;
}






.fullpage {
    overflow-x: hidden;
	overflow-y: auto;
   height: 100vh;
   background-size: cover;
   background-position: center;
    background-repeat: no-repeat;
	font-family: 'Manjari', sans-serif;
}
/*--new second image--*/
#about-us {
   background-image:url("../images/welshflag.jpg");
}


/*--harrison and lucy picture--*/
.HandL {
    background:url("../images/harrison_and_lucy.jpg");
    width:50%;
    height:auto; 
    
}

/* Centered text opening image */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}


.title and bodytext

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
  opacity: 0.5;
}
.description h1 {
  color: #30ACB4;
  text-align: center;
}
.description p {
  color: #30ACB4;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
}

/*gallery*/


.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }


@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}
/*gallery end*/


.contact-us-css {
     background-position: center;
}

.social_link {
    background-position: center;
    background-color:#FFBD33;
    
}